/* Site-wide */
.navbar {
  background-color: rgba(255, 255, 255, 0.92);
  background: rgba(255, 255, 255, 0.92);
  color: rgba(255, 255, 255, 0.92);
}

.row {
  padding-top: 2em;
  padding-bottom: 2em;
}

.no-padding {
  padding: 0em;
}

footer > .row {
  padding-bottom: 1em; 
}

/* Navbar styling */
.clearnav {
    background: transparent;
    border: none;
    box-shadow: none;
}

.navbar-right > li > a {
  padding-right: 5px;
  padding-left: 5px;
}

.clearnav > .container > .navbar-nav > .active > a {
    color: #fff;
    background: transparent;
    font-weight: 600;
}

.clearnav > .container > .navbar-nav > li > a {
    color: #eee;
}

.jumbotron {
    margin-bottom: 0px;
    -webkit-box-shadow: inset 0px 0px 41px 0px rgba(0,0,0,0.82);
    -moz-box-shadow: inset 0px 0px 41px 0px rgba(0,0,0,0.82);
    box-shadow: inset 0px 0px 41px 0px rgba(0,0,0,0.82);
    border-bottom: 1px black;
}

.vcenter {
  display: flex;
  align-items: center;
}

/* Row coloring */
.orange-row {
    background-color: #f9ba59;
}

.grey-row {
    background-color: #a8a9ad;
}

.light-grey-row {
    background-color: #eeeeef;
}

.dark-grey-row {
  background-color: #555555;
  color: white;
}

/* Homepage Jumbotron */
#jumbotron-home {
    height: 85vh;
    background: url(../images/jumbotron/home.jpg) no-repeat bottom center;
    background-size: cover;
}

#jumbotron-home > .container {
    margin-top: 10em;
    color: #fff;
    text-align: right;
}

#jumbotron-home > .container > h1 {
    font-weight: 700;
}

#jumbotron-home > .container > h1 > small {
    color: #fff;
    font-weight: 500;
}

/* Sponsor Jumbotron */
#jumbotron-sponsor {
    height: 25vh;
    /* background: url(/images/jumbotron/sponsor.jpg); */
    background-color: #555;
    background-size: 100%;
}

#jumbotron-sponsor > .container > h1 {
    font-weight: 700;
}

#jumbotron-sponsor > .container > h1 > small {
    font-weight: 500;
}

/* About Jumbotron */
#jumbotron-about {
  height: 90vh;
  background-color: #777; /* Temp background */
}

/* Contact Jumbotron */
#jumbotron-contact {
  height: 40vh;
  background-color: #777; /* Temp background */
}

/* Sponsor Tier Coloring */
.sponsor-tier-1 { /* Platinum */
    background-color: #e5e4e2;
}

.sponsor-tier-2 { /* Gold */
    background-color: #FFEB7F;
}

.sponsor-tier-3 { /* Silver */
    background-color: #dadada;
}

.sponsor-tier-4 { /* Bronze */
    background-color: #ebccad;
}

.sponsor-tier-5 { /* Unnamed */
    background-color: #f7f7f7;
}
