/* Site-wide */
html {
	font-family: 'Roboto', sans-serif !important;
}

body {
	background-color: #f7f7f7;
}

h1, h2, h3, h4, h5 {
		margin-top: 5px;
		margin-bottom 5px;
}

h1 {
	font-weight:800;
}

h2 {
	font-weight:700;
}

h3 {
	font-weight:600;
}

.row {
	background-color: #fff;
	padding-top:25px;
	padding-bottom:25px;
	margin-left:0px;
	margin-right:0px;
}

.navbar {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.82);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.82);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.82);
}

.jumbotron {
	margin-bottom: 0px;
	-webkit-box-shadow: inset 0px 0px 41px 0px rgba(0,0,0,0.82);
	-moz-box-shadow: inset 0px 0px 41px 0px rgba(0,0,0,0.82);
	box-shadow: inset 0px 0px 41px 0px rgba(0,0,0,0.82);
}

/* Row coloring */
.orange-row {
	background-color: orange;
	color: white;
}

.grey-row {
	background-color: grey;
}

.light-grey-row {
	background-color: #ccc;
}

/* For homepage's jumbotron */
#jumbotron-home {
	height: 55vh;
	/* background-image: url("http://i.imgur.com/vmMtUdr.jpg"); Need better iamge */
	background-color: #555;
}

#jumbotron-home > .container {
	margin-top: 14vh;
	color: orange;
}

#jumbotron-home > .container > h1 {
	font-weight: 700;
}

#jumbotron-home > .container > h1 > small {
	color: #fff;
	font-weight: 300;
}
