/* Site-wide */
.navbar {
  background-color: rgba(255, 255, 255, 0.92);
  background: rgba(255, 255, 255, 0.92);
  color: rgba(255, 255, 255, 0.92);
}

.row {
  padding-top: 2em;
  padding-bottom: 2em;
}

/* Navbar styling */
.clearnav {
    background: transparent;
    border: none;
    box-shadow: none;
}

.clearnav > .container > .navbar-nav > .active > a {
    color: #fff;
    background: transparent;
    font-weight: 600;
}

.clearnav > .container > .navbar-nav > li > a {
    color: #eee;
}

.jumbotron {
    margin-bottom: 0px;
    -webkit-box-shadow: inset 0px 0px 41px 0px rgba(0,0,0,0.82);
    -moz-box-shadow: inset 0px 0px 41px 0px rgba(0,0,0,0.82);
    box-shadow: inset 0px 0px 41px 0px rgba(0,0,0,0.82);
    border-bottom: 1px black;
}

/* Footer */
footer > .row, footer > .row > .container > div > .row {
    background-color: #555555;
    color: white;
}

footer > .row > .container > div > a {
    color: #9fc4e4;
}

/* Row coloring */
.orange-row {
    background-color: #f9ba59;
}

.grey-row {
    background-color: #a8a9ad;
}

.light-grey-row {
    background-color: #eeeeef;
}

/* Homepage Jumbotron */
#jumbotron-home {
    height: 69vh;
    background: url(../images/jumbotron/home.jpg);
    background-size: 100%;
    background-position: 50% 50%;
}

#jumbotron-home > .container {
    margin-top: 4em;
    color: #faa21c;
    text-align: right;
}

#jumbotron-home > .container > h1 {
    font-weight: 700;
}

#jumbotron-home > .container > h1 > small {
    color: #fff;
    font-weight: 300;
}

/* Sponsor Jumbotron */
#jumbotron-sponsor {
    height: 50vh;
    background: url(/images/jumbotron/sponsor.jpg);
    background-size: 100%;
}

#jumbotron-sponsor > .container {
    margin-top: 25vh;
}

#jumbotron-sponsor > .container > h1 {
    font-weight: 700;
}

#jumbotron-sponsor > .container > h1 > small {
    font-weight: 500;
}

/* Sponsor Tier Coloring */
.sponsor-tier-1 { /* Platinum */
    background-color: #e5e4e2;
}

.sponsor-tier-2 { /* Gold */
    background-color: #FFEB7F;
}

.sponsor-tier-3 { /* Silver */
    background-color: #dadada;
}

.sponsor-tier-4 { /* Bronze */
    background-color: #ebccad;
}

.sponsor-tier-5 { /* Unnamed */
    background-color: #f7f7f7;
}
