/* Site-wide */
html {
    font-family: 'Roboto', sans-serif !important;
}

body {
    background-color: #f7f7f7;
}

h1, h2, h3, h4, h5 {
        margin-top: 5px;
        margin-bottom 5px;
}

h1 {
    font-weight:800;
}

h2 {
    font-weight:700;
}

h3 {
    font-weight:600;
}

.row {
    background-color: #fff;
    padding-top:25px;
    padding-bottom:25px;
    margin-left:0px;
    margin-right:0px;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.92);
  background: rgba(255, 255, 255, 0.92);
  color: rgba(255, 255, 255, 0.92);
}

/* Navbar styling */
.clearnav {
    background: transparent;
    border: none;
    box-shadow: none;
}

.clearnav > .container > .navbar-nav > .active > a {
    color: #fff;
    background: transparent;
    font-weight: 600;
}

.clearnav > .container > .navbar-nav > li > a {
    color: #eee;
}

.jumbotron {
    margin-bottom: 0px;
    -webkit-box-shadow: inset 0px 0px 41px 0px rgba(0,0,0,0.82);
    -moz-box-shadow: inset 0px 0px 41px 0px rgba(0,0,0,0.82);
    box-shadow: inset 0px 0px 41px 0px rgba(0,0,0,0.82);
}

footer > .row, footer > .row > .container > div > .row {
    background-color: #555555;
    color: white;
}

footer > .row {
    padding: 0px !important;
}

/* Row coloring */
.orange-row {
    background-color: #f9ba59;
}

.grey-row {
    background-color: #a8a9ad;
}

.light-grey-row {
    background-color: #eeeeef;
}

/* Homepage Jumbotron */
#jumbotron-home {
    height: 69vh;
    background: url(/images/jumbotron/home.jpg);
    background-size: 100%;
    background-position: 50% 50%;
}

#jumbotron-home > .container {
    margin-top: 25vh;
    color: #faa21c;
    text-align: right;
}

#jumbotron-home > .container > h1 {
    font-weight: 700;
}

#jumbotron-home > .container > h1 > small {
    color: #fff;
    font-weight: 300;
}

/* Sponsor Jumbotron */
#jumbotron-sponsor {
    height: 50vh;
    background: url(/images/jumbotron/sponsor.jpg);
    background-size: 100%;
}

#jumbotron-sponsor > .container {
    margin-top: 25vh;
}

#jumbotron-sponsor > .container > h1 {
    font-weight: 700;
}

#jumbotron-sponsor > .container > h1 > small {
    font-weight: 500;
}
