/* Site-wide */
body {
  color:white;
  margin:0;
  padding:0;
}

h1 {
  color:white;
  font-family:century gothic;
  font-weight:italics;
  font-size:80px;
}

#wrapper {
  height:730px;
  width: 900px;
  margin-left:auto;
  margin-right:auto;
  background-color:grey;
  text-align:left;
}

#banner {
  height:90px;
  width:900px;
  background-color:#F05A26;
}
